/*Navbar*/
:root {
  --navbar:rgba(206, 216, 224);
}

.Navbar ul li{
    display: inline-block;
    list-style: none;
    text-decoration: none;
  
   
   
  }
  
  .Navbar img {
  
    display: flex;
    position: initial;
    width: 15%;
  }
  .Buscador {
    width:70%;
    height: 50px;
    display: flex;
    font-size: 20px;
   
  }
  .PrimerBar{
    width: 100%;
  align-items: center;
  display: flex;
  background-color: rgb(255, 255, 255);
  }
  .logo {
    padding: 0px;
    margin:0px;
    width: 17%;
  }
  .PrimerBar img {
    width: 100%;
    height: auto;
  margin: 5px;
padding: 0px;  }
  
.SegundaBar{
  height: 100%;
  width: 100%;

}

  .SegundaBar li {
    font-size: 14px;
    text-decoration: none;
    
  
  
  
  }

  .CartIcon {
    position: relative;


  
   
  }
  /*Carrousel*/

.carousel-indicators {
    display:none ;
  }

  .dropdown-toggle {
    background-color:transparent;
    font-size: 18px;
    font-family: inherit;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: none;
    
    
  }
  .dropdown-toggle:hover{  
      background-color:transparent;
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: none;
    

  }

  /*categorias**/
  .Categorias {

    justify-content: space-between;
 

    padding-right:  10%;
    margin:0px;
 
    display: flex;
    justify-content: space-between;
    background-color: var(--navbar);
    z-index: 1;
    height: 100%;
 
    
    
    
  }
  @media(max-width:600px) {
    .Categorias {  display: none;
      
  
    }
    .Lupa {

      display: none;
     }
   
     .PrimerBar img {
      width: 30vw;
      height: auto;
    margin: 5px;
  padding: 0px;  }
  
  }
  @media(min-width:600px){
  
      .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
        width: auto
       ;
    }
    
  .navigation {
    display: none;
    
  }}
  @media(max-width:800px) {
    .Categorias {  display: none;
      
  
    }
    .Lupa {

      display: none;
     }
   
  
  }
  
  
  .menu {
    z-index: 2;
 
  }
  .Categorias li {
    font-size: 23px;
    
  
  ;}
    
  .Categorias li a {
    font-size: 18px;
  text-decoration: none;
  color: black;
  font-weight: bold
  
  ;}
  







.open {
  display: grid;
  
}



.searcher input{

width: 50%;
height: 5vh;



 
 


}
.searcher {
  display: flex;
  width: 75%;
  height: 2vw; 
  position: relative;
  align-items:  center;
  justify-content: center;
  font-size: 1.5vw;


}
.searcher input::placeholder{
font: 500;
font-size: 1.5vw;
text-align: center;
text-indent: 0;
}


body
{
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */

  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#menuToggle
{
  display: block;
  position: inherit;
 /* top: 50px;
  left: 50px;*/
 margin: 25%;
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  left: 1%;

  
  cursor: pointer;
  
  opacity: 1; /* hide this */
  z-index: 4; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 3;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 60%;
  left: 0px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.dropdown-item {
font-weight: 400;

}


#menuToggle input:checked ~ ul
{
  transform: none;
}

