

.TextContainer{
   display: flex;
   flex-direction: column;
    align-items: initial;
    width: 70%;
    margin: 10%;
    padding: 0px;

}
.detailContainer
{width: 100%;
    display: flex;
    justify-content: end;
    background-color: white;
    color: black;
    font-size: 1vw;
    align-items: center;
}
.detailContainer img{
 display: flex;
    width: 30%;
    height: 50%;
  

}
